! special
*foreground:   #cbe3e7
*background:   #1e1c31
*cursorColor:  #fbfcfc

! black
*color0:       #565575
*color8:       #100e23

! red
*color1:       #ff8080
*color9:       #ff5458

! green
*color2:       #95ffa4
*color10:      #62d196

! yellow
*color3:       #ffe9aa
*color11:      #ffb378

! blue
*color4:       #91ddff
*color12:      #65b2ff

! magenta
*color5:       #c991e1
*color13:      #906cff

! cyan
*color6:       #aaffe4
*color14:      #63f2f1

! white
*color7:       #cbe3e7
*color15:      #a6b3cc

! Xft settings
Xft*dpi: 96
Xft*antialias: true
Xft*hinting: true
Xft*rgba: rgb
Xft*autohint: false
Xft*hintstyle: hintfull
Xft*lcdfilter: lcddefault

! URxvt settings
URxvt*scrollBar: false
URxvt*cursorBlink: true

URxvt*font: xft:DejaVu Sans Mono:size=10
URxvt*boldFont: xft:DejaVu Sans Mono:bold:size=10
URxvt*letterSpace: -1

! rofi settigs
rofi*color-normal: #565575, #a6b3cc, #565575, #a6b3cc, #565575
rofi*color-urgent: #565575, #ff0000, #565575, #ff0000, #565575
rofi*color-active: #565575, #91ddff, #565575, #91ddff, #565575
rofi*color-window: #565575, #a6b3cc

rofi*font: DejaVu Sans Book 10

rofi*matching: fuzzy
